<section id="search" class="search-wrap">
    <h1>Find A Vlan Reservation</h1>
    <form action="/cluster/searchres" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="e.g PHX-POC001...">
      <input type="submit" value="Search">
    </form>
  </section>